header {
    text-align: center;
    margin-bottom: 50px;
    padding: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #0a0a0a;
}

h1,
h2,
h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    box-shadow: #00d4ff 0px 0px 7px 0px, #8b5cf6 0px 0px 12px 0px;
    border-radius: 10px; 
    max-width: 100%;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-left: 50px;
    padding: 0px;
}

#beginig{
    display: flex;
    background: #1a1a1a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
}

#beginig h2{
    margin: 0;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 600px;
}


#menu{
    display: flex;
    list-style-type: none;
    color: white;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
    width: 500px;
}

#menu h3{
    margin: 0;
}
#menu li{
    margin-right: 40px;
}

.searchtype {
    padding: 30px 0px;
}

.searchtype input{
    background: #1a1a1aaf;
    box-shadow: #8b5cf6 0px 0px 2px 0px, #00d4ff 0px 0px 4px 0px;
    padding: 15px;
    border-radius: 10px;
}

.searchMovie {
    border-radius: 7px;
    color: aliceblue;
    background: skyblue;
    padding: 25px;
    text-align: left;
    padding-left: 30px;
}

#portal{
    background-image: url("https://images.squarespace-cdn.com/content/v1/608d9ef497633c6b6eb71caf/e4c8b75b-5cde-4538-a575-d73b0e9126cd/d0cd87e3ab34757a30991b43538393b7afb1840c976e96bc0f70332e039177bb.jpg");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
    height: 500px;
    color: white;
}

#portal div{
    padding-left: 70px;
    padding-top: 160px;
    width: 350px;
}

#portal button{
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    box-shadow: #8b5cf6 0px 0px 2px 0px, #00d4ff 0px 0px 4px 0px;
    height: 45px;
    width: 145px;
    background: #1a1a1aaf;
    color: white;
}

.searchMovie p{
    background: skyblue;
}

.structure{
    display: flex;
    flex-direction: column;
}

.categoria{
    margin-left: 50px;
}

.wrapper {
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
}

.card-movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: #00d4ff 0px 0px 7px 0px, #8b5cf6 0px 0px 12px 0px;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    height: 370px;
    background: #1a1a1a;
    margin-right: 25px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.card-movie:hover{
    transform: scale(1.1);
}


.card-movie h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.card-movie img {
    max-width: 100%;
    max-height: 65%;
    object-fit: cover;
    align-items: center;
    border-radius: 10%;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.card-movie button {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    max-width: 100%;
    align-self: center;
    color: #fff;
    background: #1a1a1a;
    box-shadow: #8b5cf6 0px 0px 2px 0px, #00d4ff 0px 0px 4px 0px;
}

.scoreMovie{
    color: #FFD700;
    margin-bottom: 10px;
}